<!DOCTYPE html>
<html>
<head>
  <title>Mountains</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="mainwilly">
<nav>
<ul><li><%= link_to('Mountains', mountains_path) %></li>
<li><%= link_to('Upload a Mountain', mountains_new_path) %></li>
</ul>
</nav>


<div class="hero-unit">
<%= yield %>
</div>

<section>
  <footer>
    This is my footer | 2013 </footer>
</section>


</div>

</body>
</html>
